// sidebar
$menuText:#fff;
$menuActiveText: #3574A9;
// $menuHoverText: #bfcbd9;

$subMenuActiveText:#3574A9;
$subMenuHoverText: #3574A9;

$menuBg: transparent;
// $menuHover:#134F82;

$subMenuBg: transparent;
$subMenuHover:#fff;

$sideBarWidth: 260px;
$navBarHeight: 70px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  // menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  navBarHeight: $navBarHeight;
}
